In [1]:
import os
import pandas as pd
import numpy as np
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

# shared modules
import ds_fun as d
import more_fun as m

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = d.pour_wine()

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  type                  6497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [21]:
df.rename(columns= {
                    'fixed acidity':'fixed_acidity'
                    'volatile acidity':'volatile_acidity'
                    'citric acid':'citric_acid'
                    'residual sugar':'residual_sugar'
                    'free sulfur dioxide':'free_sulfur_dioxide'
                    'total sulfur dioxide':'total_sulfur_dioxide'
                    })

SyntaxError: invalid syntax (3122334180.py, line 3)

In [3]:
df.shape

(6497, 13)

In [4]:
df.quality.min(), df.quality.max()

(3, 9)

In [5]:
train, validate, test = d.train_validate(df)

In [6]:
train.shape, validate.shape, test.shape

((3118, 13), (2079, 13), (1300, 13))

In [7]:
#split
#explore on train
#stat tests on train
#choose features to take to modeling
#get to mvp
#maybe save feature engineering until after mvp

In [8]:
train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
3094,7.60,0.29,0.49,9.60,0.03,45.00,197.00,0.99,3.13,0.38,12.30,7,white
2509,6.30,0.33,0.20,5.80,0.04,24.00,144.00,0.99,3.15,0.63,9.90,5,white
4420,6.60,0.40,0.46,6.20,0.06,42.00,241.00,1.00,3.50,0.60,9.90,5,white
2677,6.50,0.26,0.34,16.30,0.05,56.00,197.00,1.00,3.49,0.42,9.80,5,white
2507,8.00,0.23,0.37,9.60,0.05,23.00,159.00,1.00,3.32,0.47,9.80,4,white

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3118 entries, 3094 to 5100
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         3118 non-null   float64
 1   volatile acidity      3118 non-null   float64
 2   citric acid           3118 non-null   float64
 3   residual sugar        3118 non-null   float64
 4   chlorides             3118 non-null   float64
 5   free sulfur dioxide   3118 non-null   float64
 6   total sulfur dioxide  3118 non-null   float64
 7   density               3118 non-null   float64
 8   pH                    3118 non-null   float64
 9   sulphates             3118 non-null   float64
 10  alcohol               3118 non-null   float64
 11  quality               3118 non-null   int64
 12  type                  3118 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 341.0+ KB

In [17]:
train = train.rename(columns = {
                                'fixed acidity' : 'fixed_acidity'})

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3118 entries, 3094 to 5100
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         3118 non-null   float64
 1   volatile acidity      3118 non-null   float64
 2   citric acid           3118 non-null   float64
 3   residual sugar        3118 non-null   float64
 4   chlorides             3118 non-null   float64
 5   free sulfur dioxide   3118 non-null   float64
 6   total sulfur dioxide  3118 non-null   float64
 7   density               3118 non-null   float64
 8   pH                    3118 non-null   float64
 9   sulphates             3118 non-null   float64
 10  alcohol               3118 non-null   float64
 11  quality               3118 non-null   int64
 12  type                  3118 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 341.0+ KB

In [9]:
d.outlier_detector(train,'quality')

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality, type]
Index: []

In [11]:
m.bar_chart(train, train.fixed)

AttributeError: 'DataFrame' object has no attribute 'fixed'

In [ ]:
_